@font-face {
  font-family: "MuseoSansMinLight";
  src: url("../fonts/MuseoSansCyrl_100.otf")format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansLight";
  src: url("../fonts/MuseoSansCyrl_300.otf")format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansMedium";
  src: url("../fonts/MuseoSansCyrl_500.otf")format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBold";
  src: url("../fonts/MuseoSansCyrl_700.otf")format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBolder";
  src: url("../fonts/MuseoSansCyrl_900.otf")format("opentype");
  font-style: normal;
  font-weight: normal;
}