@font-face {
    font-family: "GothamProRegular";
    src: url("/app/fonts/GothamProRegular/GothamProRegular.eot");
    src: url("/app/fonts/GothamProRegular/GothamProRegular.eot#iefix")format("embedded-opentype"),
    url("/app/fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("/app/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("/app/fonts/GothamProBold/GothamProBold.eot");
    src: url("/app/fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("/app/fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("/app/fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlack";
    src: url("/app/fonts/GothamProBlack/GothamProBlack.eot");
    src: url("/app/fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("/app/fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("/app/fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProItalic";
    src: url("/app/fonts/GothamProItalic/GothamProItalic.eot");
    src: url("/app/fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("/app/fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("/app/fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLight";
    src: url("/app/fonts/GothamProLight/GothamProLight.eot");
    src: url("/app/fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("/app/fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("/app/fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
