* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .box{
    height: 200px;
    width: 200px;
    background-color: aqua;
  }
  .pop-up__window{
    margin-left: 950px;
      position: absolute;
      width: 160px;
      height: 70px;
      background-color: white;
      font-size: 16px;
      font-weight: 600;
      color: #221f1f;
      padding: 10px;
      display: none;
    }
    .box:hover .pop-up__window{
      display:block;
   /* position:absolute;
      top:120px;
      z-index:9999;
      width:400px;  position: absolute;
      z-index:9999;    */
    }

    <div class="header__contacts-chart">График работы
        <div class="pop-up__window">
        <p>пн-вс: 09:00-20:00</p>
        <p>обед: 14:00-14:30</p>
        </div>
    </div>

    .pop-up__window{
      // margin-left: 950px;
        position: absolute;
        width: 160px;
        height: 70px;
        background-color: white;
        font-size: 16px;
        font-weight: 600;
        color: #221f1f;
        padding: 10px;
        display: none;
      }
      .header__contacts-chart:hover .pop-up__window{
        display:block;
        margin: 30px -60px;
      }
      .pop-up__window p:first-child{
        color:  color: #ec1e79;
      }